:root {
    --header-height: 32px;
    --tabs-height: 48px;


    --color-black-primary: #000000;
    --color-black-primary-translucent: rgba(0, 0, 0, 0.85);
    --color-black-secondary: #222222;
    --color-black-tertiary: #343434;

    --color-white-primary: #FFFFFF;

    --color-red: #CC0000;
    --color-green: #4E9A06;
    --color-blue: #3465A4;
}

* {
    font-family: "Lucida Console", "Courier New", monospace;
}

html, body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,span {
    padding: 0;
    margin: 0;
}

canvas {
    width: 100vw;
    height: calc(100vh - var(--header-height) - var(--tabs-height));
    position: absolute;
    z-index: -1;
    background-color: gray;
    box-shadow: inset 0em 0em 24em 2em rgba(0,0,0,1);
}

main {
    position: relative;
    width: 100%;
    height: calc(
        100%
        - var(--header-height)
        - var(--tabs-height)
    );
    display: flex;
    flex-direction: column;
    background: var(--color-black-primary);
}

main.translucent {
    background: var(--color-black-primary-translucent)
}

main:not(.active) {
    display: none;
}

main.active {
    display: flex;
}

header {
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px ;
    background-color: var(--color-black-primary);
}

header span {
    margin-right: 16px;
    font-size: 16px;
    color: var(--color-white-primary);
}

#tabs {
    height: var(--tabs-height);
    display: flex;
    flex-direction: row;
    background-color: var(--color-black-secondary);
    color: var(--color-white-primary);
}

.tab {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.tab.active {
    border-bottom: 8px solid var(--color-blue);
    background-color: var(--color-black-tertiary);
}

.tab div:first-child {
    flex: 1;
    align-self: center;
    text-align: center;
}

.tab div:last-child {
    flex: none;
    padding: 0 2px;
    margin-right: 16px;
    align-self: center;
    justify-self: center;
    background-color: #676767;
    border-radius: 50%;
}

.shell-container {
    flex: 1;
    padding-top: 16px;
}

span.green b{
    color: var(--color-green);
}

span.blue b{
    color: var(--color-blue);
}

span.red b {
    color: var(--color-red);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    line-height: 16px;
}

.info span {
    display: flex;
    flex-direction: row;
}

b {
    font-size: 24px;
    color: var(--color-white-primary);
}

.cards {
    display: grid;
    gap: 16px;
    grid-template: auto / auto auto auto;
    padding: 16px;
    color: var(--color-white-primary);
}

.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid var(--color-black-secondary);
    border-radius: 8px;
    background-color: var(--color-black-tertiary);
}

.card > .card-header {
}

.card > .card-header > a {
    text-decoration: underline;
    font-weight: bold;
    color: var(--color-green);
}

.card > .card-body {
    flex: 1;
    padding: 24px 0 16px 0;
}

.card > .card-footer {
    
}

.card > .card-footer > .badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card > .card-footer > .badges > span {
    padding: 4px 8px;
    margin-right: 16px;
    margin-top: 8px;
    border: 1px;
    border-radius: 16px;
    color: var(--color-white-primary);
    background-color: var(--color-blue);
}